<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="virtual_type" frontName="virtual_type">
            <module name="training_virtualtypeexample"/>
        </route>
    </router>
</config>
