<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="phpinfo" type="text" sortOrder="1" showInDefault="1">
                <label>PHP INFORMATION</label>
                <frontend_model>Training\Phpinfo\Block\Adminhtml\Config\From\Fieldset\Phpinfo</frontend_model>
            </group>
        </section>
    </system>
</config>
