<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training\Preferences\Api\ItemRepositoryInterface"
                type="Training\Preferences\Model\ItemRepository"/>
    <preference for="Training\Preferences\Api\Data\ItemInterface" type="Training\Preferences\Model\Item"/>

</config>
