<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="header_footer_scripts" frontName="header_footer_scripts">
            <module name="training_headerfooterscripts"/>
        </route>
    </router>
</config>
