<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="dispatch_event" frontName="dispatch_event">
            <module name="Training_DispatchEventExample"/>
        </route>
    </router>
</config>
